@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    @apply bg-neutral-950 font-jakarta;
  }
}

@layer components {
  .base-button {
    @apply h-11 rounded-lg px-4;
  }

  .base-transition {
    @apply transition-all duration-300 ease-in-out;
  }

  .input-field > p {
    @apply absolute -bottom-6;
  }
}

@layer utilities {
  .visually-hidden {
    overflow: hidden !important;

    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    padding: 0 !important;

    white-space: nowrap !important;

    clip: rect(0, 0, 0, 0) !important;
    border: 0 !important;

    &:not(caption) {
      position: absolute !important;
    }
  }
}
