@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mg-color-text: #e5e5e5;
  --mg-color-background: #0a0a0a;
}

@layer base {
  * {
    @apply m-0 box-border p-0;
  }

  body {
    @apply bg-neutral-950 font-jakarta;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px var(--mg-color-background) inset;
    -webkit-text-fill-color: var(--mg-color-text);
  }
}

@layer components {
  .button-base {
    @apply base-transition cursor-pointer rounded-lg flexbox-row focus:outline-none;
  }

  .icon-button-base {
    @apply base-transition rounded-md flexbox-row hover:color-background-opacity-white-10 focus:color-background-opacity-white-10;
  }

  .button-fill-primary {
    @apply bg-yellow-300 text-bold-14 color-text-inverse hover:bg-yellow-400 focus:bg-yellow-400;
  }

  .button-fill-secondary {
    @apply bg-neutral-200 color-text-inverse hover:bg-neutral-300 focus:bg-neutral-300;
  }

  .button-stroke {
    @apply border color-text-primary color-border-button hover:bg-transparent hover:color-border-button-hover focus:bg-transparent focus:color-border-button-focus;
  }

  .button-disabled {
    @apply disabled:cursor-not-allowed disabled:border-none disabled:bg-neutral-400 disabled:text-neutral-500;
  }

  .base-transition {
    @apply transition-all duration-300 ease-in-out;
  }

  .input-field > p {
    @apply absolute -bottom-5;
  }
}

@layer utilities {
  .visually-hidden {
    overflow: hidden !important;

    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    padding: 0 !important;

    white-space: nowrap !important;

    clip: rect(0, 0, 0, 0) !important;
    border: 0 !important;

    &:not(caption) {
      position: absolute !important;
    }
  }
}
